.main{
  min-height: 70vh;
}
.hasColoredText{
color: black !important;
}
.login-comp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-comp form{
  background-color: #f0f5ff;
  border:1px #023047 solid;
  padding: 1rem;
  border-radius: 5px;
  min-height: 250px;
  min-width: 300px;
}